<ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let n of noticias; let i = index">
            <app-new [inFavorite]="inFavorite" [noticia]="n" [index]="i"></app-new>
        </ion-col>
    </ion-row>
</ion-grid>