<ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button tab="tab1">
            <ion-icon name="contact"></ion-icon>
            <ion-label>For You</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="md-globe"></ion-icon>
            <ion-label>Top</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>Favorites</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>