<ion-card color="dark">
    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-success"> {{ index + 1}}.</span>
            <span class="new-source-name"> {{ noticia.source.name }} </span>
            <div class="new-more">
                <ion-button fill="clear" (click)="launchMenu()">
                    <ion-icon color="success" slot="icon-only" name="more"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title (click)="openNew()">{{ noticia.title }}</ion-card-title>
    </ion-card-header>
    <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" (click)="openNew()" class="animated fast fadeIn"></ion-img>
    <ion-card-content>
        <p>
            {{ noticia.description }}
        </p>
    </ion-card-content>
</ion-card>