<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-slides [options]="sliderOpts" *ngIf="dataLocalService.noticias.length === 0">
        <ion-slide>
            <ion-label>You haven't add an article as your favorite.</ion-label>
        </ion-slide>
    </ion-slides>
    <app-news [inFavorite]="true" *ngIf="dataLocalService.noticias.length > 0" [noticias]="dataLocalService.noticias"></app-news>
</ion-content>