<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-segment scrollable mode="md" color="success" (ionChange)="changeCategory($event)">
            <ion-segment-button mode="md" [value]="c" *ngFor="let c of categories">
                <ion-label text-capitalize>{{c}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <app-news [noticias]="noticias"></app-news>
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more news...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>