<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <app-news [noticias]="noticias"></app-news>
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more news...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>